@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@500;600;800&display=swap');

* {
    margin: 0;
}

body {
    background-color: whitesmoke;
    /*margin: 0;*/
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 400px;
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    /*padding-top: 135px;*/
    /*box-sizing: border-box;*/
    padding-top: 1px;

}

.header > h1 {
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3, 150, 100, 0.75);
    text-align: center;
    /*margin-top: 133px;*/
    padding-top: 133px;
}

.main > ul {
    list-style: none;
    padding: 0;
}

.main li {
    margin: 100px 0;
    border-bottom: 1px solid lightsalmon;
    padding-bottom: 60px;

}

.main li > h2 {
    font-weight: 800;
    font-size: 28px;
    background-color: #cebcee;
    text-transform: uppercase;
    text-align: center;
}

.main li > p {
    color: #454;
    font-weight: 500;
    text-align: justify;
    padding: 0 5px;
    text-indent: 32px;
    line-height: 1.5;

}

.main li > a {
    color: darkslategray;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;



}